* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./Resources/background.jpg");
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#container-right {
    color: white;
    text-align: center;
    padding-top: 0px;
    display: block;
    position: relative;
    color: white;
    border: 1px solid black;
    width: 50%;
    background: darkgray;
}

#container-left {
    height: 33%;
    flex-basis: 250px;
    display: block;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.image {
    height: 33%;
    width: 100%;
    float: right;
}

#title {
    background-color: gray;
    text-align: center;
    padding: 1px;
}

#title_maps {
    background-color: gray;
    text-align: center;
    padding: 5px;
}

.title_sub_text {
    width: 50%;
    margin: auto;
}

.title_sub_table {
    background-color: gray;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 2px;
    margin-top: 5px;
}

#video {
    width: 100%;
    float: right;
}

#audio {
    width: 100%;
    margin-bottom: 0;
    float: right;
}

.video-audio {
    position: relative;
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
}

.table
{
    float: left;
    margin-top: 0px;
}



.topnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 5px;
    padding: 3px
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 30px;
}

.topnav a.active {
    background-color: #C6D4FF;
    color: black;
    height: 10%;
}


/* Change the color of links on hover */
.topnav a:hover {
    color: rgb(197, 197, 197);
}

#navbar_home
{
    float: right;
}

#navbar_updates
{
    float: right;
}

#logo
{
    width: 50%; 
    float: left; 
    padding: 0px;
}


