*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.modal-body-content
{
    text-align: left;
}

.wrapper
{
    margin: auto;
}

.login_form
{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #b3c0e6;
}

body
{
    background-color: #7A82AB;
}

.admin-panel-main
{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.admin-panel-main button
{
    margin-top: 2px;
}