html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-light
{
    background-color: white;
    border: none;
}

.navbar-brand
{
    padding-left: 2%;
}

.rangen_image
{
    width: 100%;
    border: 2px solid black;
    float: right;
    margin-top: 20px;
}

.main_text
{
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
}

.right_container
{
    float: right;
}

.left_container
{
    float: left;
}