body {
    background-color: rgb(0, 119, 255);
}

.products {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background: lightgrey;
    width: 15%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.product_name {
    text-align: center;
    color: black;
    border: 2px solid gray;
    background-color: darkgray;
    border-radius: 5px;
    width: 100%;
}

.form {
    width: 20%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 25px;
}

.product_id_to_delete {
    width: 10%;
}


@media screen and (max-width: 600px) {
    .product_id_to_delete {
        width: 50%;
    }

    .form {
        width: 85%;
        border: 2px solid black;
        border-radius: 5px;
        background-color: white;
        margin: 0;
        margin-top: 20px;
        padding: 25px;
    }
}